<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dashboard | <a href = "/login">Login</a> | <a href = "/register">Register</a></h2>
    <!-- code to embed the users data in this file -->
    <ol>
    <% users.forEach(user=>{ %> 
        <li><%= user.name %> - <%= user.email %> - <%= user.password %></li>
    <% }) %>
    </ol>
</body>
</html>