<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1 style="color:blue">Registration form</h1>
    <form action="/register" method="POST">
        <p><input type="text" placeholder="Enter ur Email"></p>
        <p><input type="password" placeholder="Enter password"></p>
        <p><input type="password" placeholder="Confirm password"></p>
        <button>Register</button>
    </form>
    <p>
        Already a member <a href="/login">Login </a> here!
    </p>
</body>
</html>